name: bform
description: Package to help you create beautiful forms widgets.
version: 0.3.6
homepage: https://github.com/gabrielgits/bform.git

environment:
  sdk: ">=3.0.0 <4.0.0"
  flutter: ">=3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter